openapi: 3.1.0
info:
  title: Tax e-Invoicing Platform API
  version: 1.0.0
  description: Core APIs for e-invoicing, taxpayer registry, integrations, PKI, and reporting.
servers:
  - url: https://api.tax.gov/v1
security:
  - bearerAuth: []
paths:
  /invoices/submit:
    post:
      summary: Submit an e-invoice (CTC)
      operationId: submitInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '202': { description: Accepted for processing }
        '400': { description: Validation error }
        '401': { description: Unauthorized }
        '429': { description: Rate limited }
  /invoices/{invoiceId}/status:
    get:
      summary: Get invoice processing status
      operationId: getInvoiceStatus
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Status response
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoiceId: { type: string }
                  status: { type: string, enum: [pending, accepted, rejected] }
                  qr: { type: string, nullable: true }
                  reason: { type: string, nullable: true }
        '404': { description: Not found }
  /taxpayers/register:
    post:
      summary: Register a taxpayer
      operationId: registerTaxpayer
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Taxpayer' }
      responses:
        '201': { description: Created }
        '400': { description: Validation error }
  /taxpayers/{tin}:
    put:
      summary: Update taxpayer profile
      operationId: updateTaxpayer
      parameters:
        - name: tin
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Taxpayer' }
      responses:
        '200': { description: Updated }
        '404': { description: Not found }
  /integrations/banks/statements:
    post:
      summary: Submit aggregated bank statements
      operationId: postBankStatements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consentRef: { type: string }
                statements:
                  type: array
                  items:
                    type: object
                    properties:
                      tin: { type: string }
                      iban: { type: string }
                      txns: { type: array, items: { $ref: '#/components/schemas/BankTxn' } }
              required: [consentRef, statements]
      responses:
        '202': { description: Accepted }
  /integrations/customs/import-declarations:
    post:
      summary: Submit import declarations
      operationId: postImportDeclarations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/ImportDeclaration' }
      responses:
        '202': { description: Accepted }
  /pki/certificates:
    post:
      summary: Issue a signing certificate
      operationId: issueCertificate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                csr: { type: string, description: Base64-encoded CSR }
                subject: { type: string }
              required: [csr]
      responses:
        '201': { description: Certificate issued }
  /pki/revoke:
    post:
      summary: Revoke a certificate
      operationId: revokeCertificate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                certId: { type: string }
                reason: { type: string }
              required: [certId]
      responses:
        '200': { description: Revoked }
  /reports/kpis:
    get:
      summary: Retrieve operational KPIs
      operationId: getKpis
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date }
        - in: query
          name: to
          schema: { type: string, format: date }
      responses:
        '200':
          description: KPIs
          content:
            application/json:
              schema:
                type: object
                properties:
                  tps: { type: number }
                  p95LatencyMs: { type: number }
                  acceptanceRate: { type: number }
                  rejectionRate: { type: number }
                  ctcCoveragePct: { type: number }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Money:
      type: object
      properties:
        amount: { type: number }
        currency: { type: string, minLength: 3, maxLength: 3 }
      required: [amount, currency]
    Taxpayer:
      type: object
      properties:
        tin: { type: string }
        name: { type: string }
        legalForm: { type: string }
        status: { type: string }
        incorporationDate: { type: string, format: date }
        primaryActivity: { type: string }
        establishments:
          type: array
          items:
            type: object
            properties:
              address: { type: string }
              branchCode: { type: string }
    Invoice:
      type: object
      properties:
        invoiceId: { type: string }
        version: { type: string }
        issueDate: { type: string, format: date-time }
        invoiceType: { type: string }
        seller:
          type: object
          properties:
            tin: { type: string }
            name: { type: string }
            address: { type: string }
            branchId: { type: string }
          required: [tin, name]
        buyer:
          type: object
          properties:
            tin: { type: string }
            name: { type: string }
            address: { type: string }
            buyerType: { type: string, enum: [B2B, B2C] }
          required: [name]
        items:
          type: array
          minItems: 1
          items:
            type: object
            properties:
              sku: { type: string }
              description: { type: string }
              quantity: { type: number, minimum: 0 }
              unitPrice: { type: number, minimum: 0 }
              discount: { type: number, minimum: 0 }
              taxRate: { type: number, minimum: 0, maximum: 1 }
              taxAmount: { type: number, minimum: 0 }
              lineTotal: { type: number, minimum: 0 }
            required: [description, quantity, unitPrice]
        totals:
          type: object
          properties:
            subtotal: { type: number }
            taxTotal: { type: number }
            grandTotal: { type: number }
            currency: { type: string }
          required: [grandTotal, currency]
        payment:
          type: object
          properties:
            method: { type: string }
            dueDate: { type: string, format: date }
            reference: { type: string }
        ctc:
          type: object
          properties:
            clearanceMode: { type: string, enum: [CLEARANCE, REPORTING] }
            qr: { type: string }
            hash: { type: string }
        signatures:
          type: array
          minItems: 1
          items:
            type: object
            properties:
              type: { type: string, enum: [JWS, JAdES] }
              alg: { type: string }
              kid: { type: string }
              value: { type: string }
            required: [type, value]
        attachments:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              mimeType: { type: string }
              contentBase64: { type: string }
      required: [invoiceId, issueDate, seller, buyer, items, totals, signatures]
    BankTxn:
      type: object
      properties:
        date: { type: string, format: date }
        amount: { $ref: '#/components/schemas/Money' }
        description: { type: string }
        reference: { type: string }
    ImportDeclaration:
      type: object
      properties:
        declarationNo: { type: string }
        cifValue: { $ref: '#/components/schemas/Money' }
        importerTin: { type: string }
        items:
          type: array
          items:
            type: object
            properties:
              hsCode: { type: string }
              quantity: { type: number }
              customsValue: { $ref: '#/components/schemas/Money' }
              invoiceId: { type: string }
